<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    

    <!-- Bootstrap core CSS-->
    {% load static %}
    <link href="{% static 'shipment/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link href="{% static 'shipment/css/customfont.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'shipment/css/custompage.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top ">
        <a class="navbar-brand mr-1" href="/">Home</a>
    </nav>

        
            {% block content %}

            {% endblock content %}
        
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'shipment/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'shipment/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'shipment/js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'shipment/js/custompage.min.js' %}"></script>
    <script src="{% static 'shipment/js/customfont.min.js' %}"></script>

</body>

</html>